.about {
  margin-top: 100px;
}
.about>h1{
  background-color: rgb(75, 74, 75);
  padding:20px;
  box-shadow: 1px 3px 4px 11px goldenrod;
  transition: 3s;
  margin-bottom: 30px;
}
.about>h1:hover{
  font-size: 100px;
}
a {
  color: black !important;
}
.about>h1{
text-transform: uppercase;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
color: rgb(224, 141, 62);
}
.about h3{
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
}