.lernov_courses {
  margin: auto;
  justify-content: space-evenly;
  margin-bottom: 10px;
  /* background-color: blue; */
  transition: 2s;
}
.image {
  transition-duration: 3s;
}
.image:hover {
  transition-timing-function: ease-in-out;
  width: 350px;
}
